@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/montserrat';

:root {
  --transparent-orange: #c7711a44;
  --orange: #c7711a;
  --lightest-gray: #eee;
  --light-gray: #ddd;
  --dark-gray: #ccc;
  --darkest-gray: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--lightest-gray);
    --foreground: var(--darkest-gray);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'montserrat';
}

.orange {
  color: var(--orange);
}

.dark-gray {
  color: var(--dark-gray);
}

.darkest-gray {
  color: var(--darkest-gray);
}

.lightest-gray {
  color: var(--lightest-gray);
}

.light-gray {
  color: var(--light-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-darkest-gray {
  background-color: var(--darkest-gray);
}

.bg-lightest-gray {
  background-color: var(--lightest-gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-white {
  background-color: white;
}

.hvr-shadow {
  transition: box-shadow 0.2s ease;
}

.hvr-shadow:hover {
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.selected-shadow {
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.bg-preview-white {
  background-color: rgba(255, 208, 122, 0.49);
}

.bg-preview-black {
  background-color: rgb(181, 149, 90, 0.49);
}